
* {
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.text-center {
	text-align: center;
}
h1 {
	font-family: verdana;
	font-size: 22px;
	width: 100%;
	background: #292929;
	color: #FFF;
	text-align: center;
	padding: 5px;
}
h2	{
	font-size: 18px;
}
.inside {
	font-family: verdana;
	margin: 20px auto;
	font-size: 18px;
	width: 70%;

}

.inside ul li {
	list-style-position: inside;
}


.wysylka small {
	float: right;
	overflow: auto;
}
.wysylka



.klocki {
	overflow: hidden;
}
.klocek {
	font-size: 10px;
	margin-left:5px;
	float: left;
}
.klocek img {
	max-width: 100%;
	border-radius: 50px;
}
.klocek.correct img {
	margin-top: -19px;
}

.klocek.correct_2 img {
	max-width: 94px;
	margin-left: 46px;
}



.kontakt img {
	max-width: 204px;
}
.kontakt ul li {
	list-style: none;
	margin-top: 5px;
}
.kontakt ul li:before {
    content: '';
    display: inline-block;
    height: 18px;
    padding-right: 2px;
    width: 19px;
    background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/60247-200.png") no-repeat center;
    background-size: 106%;
    background-position: -3px -1px;
}